.THIS .myTable table{
    border-left: 0;
}
.THIS .myTable table td{
    padding: 0;
}
.THIS .myTable table td>div{
    padding: .25rem .5rem; 
    border-left: 1px solid rgb(221, 219, 218); 
    min-height:28px; 
    float:left; 
}