.THIS .slds-form-element__label {
        display: none !important;
      
}
.THIS .slds-select{
  line-height: 1.875rem !important;
    min-height: calc(2.125rem + 2px) !important;
    width: 100% !important;
  }

.slds-modal__close.THIS{
    right: -1.5rem !important;
}
.THIS .case{
  padding: 2px;
  border: 1px solid #dce4ec;
  border-radius: 5px;
  width: 400px;
  padding-top: 0px;

}
.THIS .textinput{
  width: 100%;
  border-radius: 3px;
  height: 30px;   
}
.THIS .headerSecondLine th{
    border-top: 0;
}
.THIS .myDatePicker{
    height: 32px !important;
    max-height: 32px !important;
    min-height: 32px !important;
}