<apex:page standardController="Program_Enrollment__c" extensions="CaseNotesController" title="Case Notes">

    <script type='text/javascript' src='/canvas/sdk/js/publisher.js'/> 
    
    <script>
        function refreshFeed() { 
        Sfdc.canvas.publisher.publish({name : 'publisher.refresh', payload : {feed:true}}); 
    }
    </script>  
    
    <apex:form >
        <apex:panelGrid columns="1" style="float:right;">
         <!-- Link Print View will redirect  to new Visualforce page  -->
            <apex:outputLink value="/apex/CaseNotePrint?id={!ind.Id}&selectedRT={!selectedRT}&date1={!date1}&date2={!date2}" id="idToRerender2" target="_blank"><b>Print View >> </b></apex:outputLink>
        </apex:panelGrid>
         <apex:outputText ><separator/><em>Select the Record type and Date Range to filter the Case Notes shown.</em></apex:outputText><p/>
        <!-- Date Range Input - From and To Date -->
        <b>Date range:<br/>
         From &nbsp;&nbsp;</b><apex:inputText value="{!date1}"/>
        <b>&nbsp;&nbsp;to&nbsp;&nbsp;</b> <apex:inputText value="{!date2}"/>&nbsp;&nbsp;<br/><br/>
       <!-- Update View button on VF Page - call method updateSNotes -->
        <!--p>Record Type:</p-->
        
         <apex:selectList value="{!selectedRT}" size="1" multiselect="false" label="Record Type" title="Record Type" id="recordTypes"> 
                    <apex:selectOptions value="{!RecordTypeList}" /> 
        </apex:selectList>
        <apex:commandButton value="Update View" rerender="idToRerender2 , pageBlockId" action="{!getServiceRTvise}" />
    </apex:form>
    <br/>
    <head>
        <style>
            #table-example-1 th,
            #table-example-1 td {
                vertical-align: middle;
                padding: 4px;
                text-align: center;
            }

            #table-example-1 td {
                font-weight: normal;
            }

            #table-example-1 th {
                font-weight: bold;

            }
        </style>
    </head>
    <body>
    Case Notes for {!ind.Name}<br/>
    <!--apex:outputText value="{!'from ' + date1 + ' to ' + date2}" rendered="{!IF(date1 != NULL, true, false)}"/-->
    <br/>
<apex:pageBlock id="pageBlockId">
        <apex:repeat value="{!SNotes}" var="be">
        <br/>
        <div style="page-break-inside: avoid">
            <table
                    id="table-example-1"
                    border="1"
                    width="100%"
                    style="border:solid thin black;
                    border-collapse:collapse;
                    table-layout: fixed;">
                <tr>
                    <td colspan="5" style="text-align:left">
                        <!--<apex:outputText escape="false" value="{!'<b>NOTE: </b>' + be.Case_Note__c}"/>-->
                    </td>
                </tr>
                <tr>
                    
                    <!--<th>Time</th>
                    <th>Service Units</th>-->
                    <th colspan="2">Notification Type</th>
                    <th colspan="2">Program</th>
                    <th>Service Date</th>
                </tr>
                <tr>
                   
                    <!--<td>
                        <apex:outputText value="{0, number, ##.###}">
                            <apex:param value="{!be.Service_Time__c}"/>
                        </apex:outputText>
                    </td>
                    <td>
                        <apex:outputText value="{0, number, ##.###}">
                            <apex:param value="{!be.Service_Units__c}"/>
                        </apex:outputText>
                    </td>-->
                    <td colspan="2" style="text-align: center"><!--{!be.Notification_Type__c}--></td>
                    <td colspan="2" style="text-align: center">{!be.Program_Enrollment__r.Program__c}</td>
                     <td>
                        <apex:outputText value="{0, date, MM/dd/yyyy}">
                            <apex:param value="{!be.Date_of_Service__c}"/>
                        </apex:outputText>
                    </td>
                </tr>
                <!--<tr>
                    <th>Department</th>
                    <th>Program</th>
                    <th>Outcome</th>
                    <th>Service Type</th>
                    <th>Service Provided</th>
                </tr>
                <tr>
                    <td>{!be.Department__c}</td>
                    <td>{!be.Program__c}</td>
                    <td>{!be.Outcome__c}</td>
                    <td>{!be.Service_Type__c}</td>
                    <td>{!SUBSTITUTE(be.Service_Provided__c, '/', '/ ')}</td>
                </tr>-->
                <tr>
                    <th colspan="2">Auther</th>  
                    <th colspan="2">Signature</th>
                    <th>Date</th>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">{!be.CreatedBy.Name}</td>  
                    <td colspan="2"></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </apex:repeat>
    </apex:pageBlock>
    </body>
</apex:page>